<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayers For Ukraine</title>
    {{!-- <link rel="stylesheet" href="/css/dark-mode.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />     --}}
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div >
        <header>
        <h1>PRAYERS FOR UKRAINE</h1>
        <nav>

            <ul> 

                <li>

                    <a href="/prayers">Submit A Prayer</a>

                </li>
                <li>
                    <a href="/">Prayer List</a>
                </li>
              
            </ul>
        </nav>
        </header>
    <main >


    {{{ body }}}
    
    </main>
    {{!-- <footer>
      Thanks for visiting!
    </footer> --}}
    </div>

    {{!-- scripts --}}
    {{!-- {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/replenish-inventory.js"></script>    
    {{/if}} --}}
    {{!-- <script src="/javascript/homepage.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/dark-mode-switch.js"></script> --}}
  </body>
</html>