<div>
      <section class="hero">
      <div class="hero-cta">
      <div class="hero-form">

      {{#each parsePost}}

        {{!-- <h3 class="nav-link text-center" >{{product_name}}</h3> --}}

       <div class = "margin">{{prayer}}</div>

       <div class = "margin">-{{name}}</div>
               

      {{/each}}
      <p class = "font-color">Russia’s invasion of Ukraine has been under way for over three weeks. President Vladimir Putin’s forces have bombed residential areas and civilian infrastructure and struck as far west as a military training base near the Polish border. Ukraine has launched counteroffensives in the capital, Kyiv, and other cities and towns. Russian attacks on population centers and efforts to encircle Kyiv have driven more than three million people out of Ukraine since the invasion began on Feb. 24. Russia has failed to take control of any major Ukrainian city.</p>
      <p class = "font-color">In the international effort to stop Mr. Putin, the U.S. and its European allies are providing military equipment to Ukraine and have deployed sanctions and other measures to inflict economic pain on the Russian leader. While Mr. Putin has acknowledged the economic impact on Russia, he has given no indication he would bow to pressure to end the war. Daily teleconferences are under way between Russian and Ukrainian negotiators, after a meeting of foreign ministers from both sides proved fruitless. </p>
      <p class="font-color">-James Hookway, J. and Trofimov, Y. (2022, Mar 18). Why Is Russia Invading Ukraine and What Does Putin Want? Wall Street Journal. https://www.wsj.com/articles/ukraine-russia-war-invasion-whats-happening-11646157211</p>
      <a href="https://donate.redcrossredcrescent.org/ua/donate/~my-donation?_cv=1">Donate</a>
      </div>
      </div>
      </section>


</div>